<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EyeStyle </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image" href="/public//index/images/Web capture_21-6-2023_16452_looka.com.jpeg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/public/index/fonts/icomoon//style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="/public/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/index/css/jquery-ui.css">
    <link rel="stylesheet" href="/public/index/css/magnific-popup.css">
    <link rel="stylesheet" href="/public/index/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/index/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/public/assets/vendor/fonts/boxicons.css" />

    <link rel="stylesheet" href="/css/index2.css">

    <link rel="stylesheet" href="/css/index1.css">




    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    
  </head>
  <body>


